:root {
  --dark: #444444;
  --darker: #171717;
  --red: #ff0000;
  --darkred: #da0037;
  --orange: #ff4c29;
  --white: #ededed;
}
body {
  background-color: var(--darker);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.container-fluid {
  margin: 0;
  padding: 1.5rem 1rem;
}
.container {
  margin: 1.5rem;
  padding: 1.2rem;
}
.heading {
  font-family: monospace;
  font-size: 3rem;
  color: var(--white);
  text-align: center;
}
.movie-detail {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  border-radius: 20px 20px 0 0;
  padding: 2.5rem 2rem;
  height: 78%;
  z-index: 9;
  transform: translateY(100%);
  transition: all 0.4s ease-in;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
.movie-detail.show {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.action-div {
  text-align: center;
}
.action-div > button {
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--dark);
  background-color: transparent;
  border: 0.7px solid var(--dark);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem 2rem;
  text-align: center;
}
.card {
  background-color: var(--white);
  border-radius: 10px 10px 5px 5px;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-radius: 10px 10px 5px 5px;
  -moz-border-radius: 10px 10px 5px 5px;
  -ms-border-radius: 10px 10px 5px 5px;
  -o-border-radius: 10px 10px 5px 5px;
}
.card:hover img {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
.card-body {
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 100%;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  overflow: hidden;
}
.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease 0.07s;
  -webkit-transition: all 0.2s ease 0.07s;
  -moz-transition: all 0.2s ease 0.07s;
  -ms-transition: all 0.2s ease 0.07s;
  -o-transition: all 0.2s ease 0.07s;
}
.card-text {
  text-align: left;
  padding: 1rem 0.8rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 0.4rem;
  font-family: monospace;
  font-size: 1.3rem;
}
.movie-title {
  color: var(--red);
}
.star {
  color: var(--orange);
}
.movie-detail-wrapper {
  position: fixed;
  bottom: 0;
  left: 3rem;
  right: 3rem;
  background-color: var(--darker);
  height: 75%;
  border-radius: inherit;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1.3fr 3fr;
  grid-gap: 0.7rem;
  font-family: monospace;
}
.left,
.right {
  height: 100%;
  height: 510px;
}
.right {
  overflow-y: auto;
  color: var(--white);
  font-size: 1.3rem;
}
.right > *:not(:last-child) {
  margin-bottom: 2.8rem;
}
.movie-img {
  width: 100%;
  height: 100%;
}
.movie-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.movie-name {
  font-size: 2.3rem;
  color: var(--white);
}
.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.key {
  color: var(--orange);
}
.key::after {
  content: ':';
}
.value {
  color: var(--white);
}
.genres {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  background: var(--dark);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 1.5rem;
}
.summary > p {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.7;
  word-spacing: 7px;
}
.empty {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
